.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items:center;
  position: fixed;
  width: 1240px;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
  align-items:center;
  margin-left: 20px;
}
.logotxt {
  margin-left: 20px;
}
h1 {
  color: MediumAquamarine;
  font-size: 14px;
}
ul li {
  display: inline-block;
  text-decoration: underline;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.column {
  display: inline-flex;
  flex-direction: row;
  z-index: inherit;
  width: 1240px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}
.c1r1 {
  display: flex;
  background-image: url(../images/img-story-main.png);
}
.mother {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  height: 300px;
}
.c1r2 {

}
.c1r3 {
  width: 300px;
  height: 300px;
  order: 1;
}
.c1r4 {
  display: flex;
  background-image: url(../images/img-story-2.png);
  order: 3;
}
.earth {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  height: 300px;
  width: 300px;

}
.c1r5 {
  width: 300px;
  height: 300px;
  order: 2;
}
.c1r6 {
  display: flex;
  background-image: url(../images/img-story-3.png);
  order: 4;
}
.research {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  height: 300px;
  width: 300px;

}
.foursquare {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.c2r1,
.c2r2,
.c2r3 {

}
.c2r2 {
  display: flex;
  background-image: url(../images/img-story-1.png);
}
.cats {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  height: 300px;
}

.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.c3r2 {

}
